/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #e8f0fe;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 15px;
}

.todo-list-container {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  padding: 30px;
  text-align: center;
  overflow: hidden;
}

.todo-list-header {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.todo-item:hover {
  background-color: #f1f1f1;
}

.todo-text {
  font-size: 18px;
  color: #444;
  flex-grow: 1;
  padding-left: 10px;
  text-align: left;
}

.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #e74c3c;
  font-size: 20px;
  transition: color 0.3s ease;
}

.delete-btn:hover {
  color: #c0392b;
  background-color: transparent;
}

.delete-btn:focus {
  outline: none;
}

/* Form styles */
.todo-form {
  margin-bottom: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.4);
  outline: none;
}

button {
  background-color: skyblue;
  color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: blue;
}